 @charset "utf-8";

/*==========================================================================================================================
														會員資料頁面
===========================================================================================================================*/

/*================================
    navbar-bottom-list(nav下方bar)
==================================*/
div.m-p-sheet{
	font-family:"微軟正黑體";
}


div.row.NavbarBottom{
	margin-top:8vh;
	background-color:#82d8d5;
	height:6vh;
}

span.NavbarBottomListCotent{
	padding:2vh;
	font-size:14px;
	height:6vh;
	line-height:6vh;
}


span.NavbarBottomListCotent a{
	color:#000;
	text-decoration:none;
	border:1px solid #82d8d5;
}

div.col-md-10 span.NavbarBottomListCotent a{
	padding:1vh;
}

span.active.NavbarBottomListCotent a{
	padding-left:0;
}


span.NavbarBottomListCotent a:hover,
span.NavbarBottomListCotent a:focus{
	color:#FFF;
}

span.active.NavbarBottomListCotent a{
	color:#FFF;
}

/*================================================================
   						"你的分享" 正文開始
=================================================================*/

/*========================你的分享 共同部分===============================*/
div.container-fluid{
	font-family: "微軟正黑體", "華康粗圓體", "超研澤中鋼筆行楷", "文鼎粗行楷";
}

div.member-profile-YouShare{
	background-color:#f9f9f9;
	padding-bottom:2vw;
}

div.row-member-profile-YouShare{
	margin-top:8vh;
}




/*你的分享左側 Menu*/
ul.m-p-y-s-menu li a{
	font-size:20px;
	font-weight:bold;
	height:7vh;
	line-height:7vh;
	text-decoration:none;
	color:#999;
}

ul.m-p-y-s-menu li a:hover{
	color:#CCC;
}

ul.m-p-y-s-menu li a:focus{
	color:#000;
}

ul.m-p-y-s-menu li.active a{
	color:#000;
}

button.m-p-y-u-NewShare{
	margin-top:4vh;
	background-color:#f56d9e;
	color:#FFF;
	border-radius:0;
}

button.m-p-y-u-NewShare:hover,
button.m-p-y-u-NewShare:focus,
button.btn.m-p-y-u-NewShare:active{
	border-radius:0;
	background-color:#ef426f;
	color:#FFF;
}


/*============================================
				預訂條件
============================================*/
div.m-p-y-s-BookingConditionText{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
	padding-bottom:3vh;
}

div.m-p-y-s-BookingConditionText span a{
	color:#f56d9e;	
}

div.m-p-y-s-BookingConditionText span a:hover,
div.m-p-y-s-BookingConditionText span a:focus{
	color:#ef426f;
}

button.m-p-y-u-SaveBooking{
	background-color:#f56d9e;
	color:#FFF;
	border-radius:0;
	margin-top:4vh;
	margin-bottom:4vh;
	margin-left:1vw;
}

button.m-p-y-u-SaveBooking:hover,
button.m-p-y-u-SaveBooking:focus,
button.btn.m-p-y-u-SaveBooking:active{
	border-radius:0;
	background-color:#ef426f;
	color:#FFF;
}



/*=============================你的分享 不同部分=====================================*/

/*你的分享 右側內容 border,高,寬*/

div.col-md-8.MemberProfileYourShareContent.none{
	border:1px solid #CCC;
	width:65vw;
	background-color:#FFF;
	/*min-height:70vh;*/
}

/*===================你的分享 右側內容========================*/

/*============================================
				你的體驗
============================================*/

/*你的體驗上方list*/
ul.nav.nav-tabs.YourExpList{
	border:none;
}

ul.nav.nav-tabs.YourExpList li.YourExpListName a{
	border:none;
	background-color:#f9f9f9;
	color:#000;
	border-bottom:2px solid #f9f9f9;
}

ul.nav.nav-tabs.YourExpList li.active.YourExpListName a{
	border-bottom:2px solid #82d8d5;
}

ul.nav.nav-tabs.YourExpList li.YourExpListName a:hover,
ul.nav.nav-tabs.YourExpList li.YourExpListName a:focus{
	color:#000;
	border-bottom:2px solid #82d8d5;
}

div.tab-content.YourExpContent{
	margin-top:1vh;
	border:1px solid #CCC;
	min-height:20vh;
	padding-bottom:2vh;
	background-color:#FFF;
}


/*============你的體驗-none==============*/
/*進行中*/
div.YourExpContinue.none{
	height:63vh;
	text-align:center;
	padding-top:20vh;
}
/*審核*/
div.YourExpCheck.none{
	height:63vh;
	text-align:center;
	padding-top:20vh;
}

/*已發布*/
div.YourExpRelease.none{
	height:63vh;
	text-align:center;
	padding-top:20vh;
}

/*未發布*/
div.YourExpUnpublish.none{
	height:63vh;
	text-align:center;
	padding-top:20vh;
}



/*=============你的體驗-show==============*/


/*===========================進行中========================*/
/*=====草稿=====*/
div.y-s-y-e-draft-Content{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
	padding-top:1.5vh;
	padding-bottom:1.5vh;
}

h4.y-s-y-e-draft{
	color:#000;
}

/*體驗 封面圖*/
div.y-s-y-e-img img{
	width:100%;
	margin-top:1vh;
}

/*完成趴數*/
div.progress.y-s-y-e{
	margin-top:1vh;
}
div.progress-bar.y-s-y-e{
	background-color:#82d8d5;
}
p.y-s-y-e-complete-pecent{
	margin-top:-2vh;
	color:#82d8d5;
}

p.y-s-y-e-update{
	color:#999;
}

button.y-s-y-e-EditButton{
	margin-top:1vh;
	background-color:#f56d9e;
	color:#FFF;
	border:none;
}

button.y-s-y-e-EditButton:hover,
button.y-s-y-e-EditButton:focus,
button.btn.y-s-y-e-EditButton:active{
	background-color:#ef426f;
	color:#FFF;
	border:none;
}

button.y-s-y-e-PreviewButton{
	margin-top:1.5vh;
}


/*=====退件=====*/
div.y-s-y-e-reject-Content{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
	padding-top:1.5vh;
	padding-bottom:1.5vh;
}

h4.y-s-y-e-reject{
	color:#ef426f;
}

.y-s-y-exp-content i{
	color:#ef426f;
}

/*=======================================審核=====================================*/
div.y-s-y-e-check-Content{
	margin-left:1vw;
	margin-right:1vw;
	padding-top:1.5vh;
	padding-bottom:1.5vh;
	border-bottom:1px solid #CCC;
}

h4.y-s-y-e-check{
	color:#fcb131;
}

a.y-s-y-exp-know{
	color:#f56d9e;
}

a.y-s-y-exp-know:hover,
a.y-s-y-exp-know:focus{
	color:#ef426f;
}

/*=======================================已發佈===================================*/
/*發布 or 未發布下拉式選單*/
div.y-s-y-e-release-selectbox{
	margin-top:1.5vh;
	width:6vw;
}

div.y-s-y-e-release-Content{
	margin-left:1vw;
	margin-right:1vw;
	padding-top:1.5vh;
	padding-bottom:1.5vh;
	border-bottom:1px solid #CCC;
}



/*=======================================未發布=====================================*/
/*發布 or 未發布下拉式選單*/
div.y-s-y-e-unpublish-selectbox{
	margin-top:1.5vh;
	width:6vw;
}

div.y-s-y-e-unpublish-Content{
	margin-left:1vw;
	margin-right:1vw;
	padding-top:1.5vh;
	padding-bottom:1.5vh;
	border-bottom:1px solid #CCC;
}

/*============================================
				你的預定
============================================*/

/*你的預定-state1*/
a.y-s-ViewPastReport-state1{
	color:#f56d9e;
}
a.y-s-ViewPastReport-state1:hover,
a.y-s-ViewPastReport-state1:focus{
	color:#ef426f;
}

a.y-s-CreateNewExp{
	color:#f56d9e;
}

a.y-s-CreateNewExp:hover,
a.y-s-CreateNewExp:focus{
	color:#ef426f;
}

div.m-p-y-s-YourBookingContent-state1-a{
	border:1px solid #CCC;
	background-color:#FFF;
}

div.m-p-y-s-YourBookingContent-state1-b{
	border:1px solid #CCC;
	display:none;
	background-color:#FFF;
}

/*你的預定-state2*/
a.y-s-ViewPastReport-state2{
	color:#f56d9e;
}
a.y-s-ViewPastReport-state2:hover,
a.y-s-ViewPastReport-state2:focus{
	color:#ef426f;
}

div.m-p-y-s-YourBookingContent-state2-a{
	border:1px solid #CCC;
	background-color:#FFF;
}

div.m-p-y-s-YourBookingContent-state2-b{
	border:1px solid #CCC;
	display:none;
	background-color:#FFF;
}

/*全部預訂紀錄title*/
div.row.y-b-panel-heading{
	background-color:#DDD;
	border-bottom:1px solid #CCC;
}

h4.y-b-panel-title{
	height:5vh;
	line-height:5vh;
}

a.y-s-WillBooking-state2-link{
	color:#f56d9e;
	margin-top:5vh;
}

a.y-s-WillBooking-state2-link:hover,
a.y-s-WillBooking-state2-link:focus{
	color:#ef426f;
}

/*預定紀錄list*/
div.YourBookingList{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
	margin-top:2vh;
}

/*探險家大頭貼*/
div.to-explorer-information-img a img{
	width:4vw;
	height:4vw;
	border-radius: 50%;
}

div.to-explorer-information-img a{
	color:#333;
}

div.to-explorer-information-img{
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}

	

/*詳情*/
div.y-b-detail ul li a{
	color:#f56d9e;
}
div.y-b-detail ul li a:hover,
div.y-b-detail ul li a:focus{
	color:#ef426f;
}

div.y-b-detail{
	width:9vw;
}

div.y-b-DateLocation i{
	color:#F00;
}


/*已接受*/
div.row.y-b-status-AlreadyAccept{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
	padding-top:1.5vh;
}

h4.y-b-s-a-accept{
	color:#ef426f;
}

/*已拒絕*/
div.row.y-b-status-AlreadyReject{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
	padding-top:1.5vh;
}

h4.y-b-s-a-reject{
	color:#fcb131;
}

/*已取消*/
div.row.y-b-status-AlreadyCancel{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
	padding-top:1.5vh;
}

h4.y-b-s-a-cancel{
	color:#82d8d5;
}

/*你的預定下方分頁*/
ul.pagination li a{
	margin-right:1vw;
	color:#91dfdf;
}
ul.pagination li a:hover,
ul.pagination li a:focus{
	background-color:#FFF;
}

div.pagination-bar{
	text-align:center;
}


/*你的預定-state3*/
div.m-p-y-s-YourBookingContent-state3-a{
	border:1px solid #CCC;
	background-color:#FFF;
}
a.y-s-PastReport-state3-link{
	color:#f56d9e;
	margin-top:5vh;
}

a.y-s-PastReport-state3-link:hover,
a.y-s-PastReport-state3-link:focus{
	color:#ef426f;
}

div.m-p-y-s-YourBookingContent-state3-b{
	display:none;
	border:1px solid #CCC;
	background-color:#FFF;
}

a.y-s-WillBooking-state3-link{
	color:#f56d9e;
	margin-top:5vh;
}

a.y-s-WillBooking-state3-link:hover,
a.y-s-WillBooking-state3-link:focus{
	color:#ef426f;
}

/*待確認*/
div.row.y-b-status-ToBeConfirmed{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
	padding-top:1.5vh;
}

h4.y-b-s-ToBeConfirmed{
	color:#999;
}

div.y-b-ConfirmOrder{
	padding-left:0;
}


/*變更中1*/
div.row.y-b-status-Change1{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
	padding-top:1.5vh;
}

h4.y-b-s-change1{
	color:#82d8d5;
}

/*變更中2*/
div.row.y-b-status-Change2{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
	padding-top:1.5vh;
}

h4.y-b-s-Change2{
	color:#82d8d5;
}

div.y-b-ChangeOrder{
	padding-left:0;
}




/*================================================================
   						"你的分享" -更改與取消
=================================================================*/
/*===============================
	你的分享下方bar(不一樣的地方)
================================*/
div.m-p-y-s-change-cancel{
	font-family:"微軟正黑體";
	background-color:#f9f9f9;
	padding-bottom:4vh;
}

a.return-front-page{
	height:6vh;
	line-height:6vh;
	color:#FFF;
}
a.return-front-page:hover,
a.return-front-page:focus{
	color:#FFF;
}


/*=========================
		更改預定
=========================*/

/*更改預定上方*/
	
div.y-s-change-booking-block{
	background-color:#FFF;
	height:16vh;
	box-shadow: 2px 2px 5px #888888;
}

div.col-md-2.change-icon i{
	color:#f56d9e;
	margin-left:3vw;
	margin-top:3vh;
}

a.y-s-change-booking-link,
a.y-s-change-booking-link:focus{
	color:#000;
}

a.y-s-change-booking-link:hover{
	color:#666;
}

/*更改預定下方*/
div.y-s-change-b-body{
	padding-left:0;
	margin-top:4vh;
	display:none;
}

/*小計.服務費.新總價*/
div.y-s-subtotal,
div.y-s-tip{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
}

div.y-s-newtotal{
	margin-left:1vw;
	margin-right:1vw;
}
	

/*button*/
button.y-s-c-b-giveup{
	margin-right:1vw;
}

button.y-s-c-b-save{
	background-color:#f56d9e;
	color:#FFF;
}

button.y-s-c-b-save:hover,
button.y-s-c-b-save:focus,
button.btn.y-s-c-b-save:active{
	background-color:#ef426f;
	color:#FFF;
}

/*更改預定右側提醒*/
#y-s-change-booking-remind{
	display:none;
}

h3.y-s-change-booking-remind-title{
	margin-left:1vw;
}

div.y-s-change-b-icon-wall{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
}

div.y-s-change-b-icon-wall div.col-md-10{
	padding:0;
}


div.y-s-change-b-icon-wall i{
	color:#ef426f;
}

li.y-s-change-b-explain{
	color:#999;
}


/*取消預定上方*/
div.y-s-cancel-booking-block{
	background-color:#FFF;
	height:16vh;
	box-shadow: 2px 2px 5px #888888;
	margin-top:2vh;
}

div.col-md-2.cancel-icon i{
	color:#f56d9e;
	margin-left:3vw;
	margin-top:3vh;
}

a.y-s-cancel-booking-link,
a.y-s-cancel-booking-link:focus{
	color:#000;
}

a.y-s-cancel-booking-link:hover{
	color:#666;
}

a.y-s-cancel-booking-red{
	color:#f56d9e;
}

a.y-s-cancel-booking-red:hover,
a.y-s-cancel-booking-red:active{
	color:#ef426f;
}

/*取消預定下方左邊*/
div.y-s-cancel-b-body{
	background-color:#FFF;
	margin-top:4vh;
	display:none;
}

input.y-s-cancel-b-sumit{
	margin-left:1vw;
	background-color:#f56d9e;
	color:#FFF;
}

input.btn.y-s-cancel-b-reset:active,
input.btn.y-s-cancel-b-reset:focus{
	outline:none;
}

input.y-s-cancel-b-sumit:hover,
input.btn.y-s-cancel-b-sumit:focus,
input.btn.y-s-cancel-b-sumit:active{
	background-color:#ef426f;
	color:#FFF;
	outline:none;
}

/*取消預定下方右邊icon-wall*/
div.y-s-cancel-b-icon-wall{
	border-bottom:1px solid #CCC;
	padding-top:3vh;
	padding-bottom:2vh;
	margin-right:1vw;
}

div.y-s-cancel-b-icon-wall div.col-md-2 i{
	color:#ef426f;
}

li.y-s-cancel-b-explain{
	color:#999;
}

/*================================================================
   						"你的分享" -查看訂單
=================================================================*/
div.m-p-explore-travel_form{
	padding-bottom:5vh;
}

/*=========================
		左側表單
=========================*/
div.row.order-form-content{
	margin-top:3vh;
}

/*=========================
		左側表單
=========================*/
div.o-f-left-form{
	border:1px solid #CCC;
	padding-bottom:2vh;
}

/*探險時間&日期*/
div.o-f-exploreDateTime{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
}

/*體驗資訊*/
div.o-f-exp-information{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
}

/*轉帳*/
div.o-f-bill{
	margin-left:1vw;
	margin-right:1vw;
	border-bottom:1px solid #CCC;
}

div.o-f-bill-total-amount{
	background-color:#CCC;
	height:5vh;
	line-height:5vh;
}

/*幫助中心*/
div.row.o-f-help{
	margin-right:1vw;
	margin-left:1vw;
}

a.o-f-help-center{
	color:#f56d9e;
}

a.o-f-help-center:hover,
a.o-f-help-center:focus{
	color:#ef426f;
}

/*=========================
		右側資訊
=========================*/
div.o-f-right-information{
	border:1px solid #CCC;
	padding-bottom:4vh;
	margin:0;
}

div.o-f-r-s-img{
	text-align:center;
	height:20vh;
	line-height:20vh;
}

div.o-f-r-s-img img{
	width:6vw;
	height:6vw;
	border-radius:50%;
}

div.o-f-contact-share{
	margin-top:3vh;
	text-align:center;
}

div.o-f-contact-explore{
	text-align:center;
}

div.o-f-contact-explore button{
	width:18vw;
	margin-top:2vh;
}

/*================================================================
   						"你的分享" -查看訂單-變更中
=================================================================*/
/*狀態*/
span.o-f-green{
	color:#82d8d5;
}

p.o-f-FC-red{
	color:#F00;
}

/*icon tooltip*/
div.o-f-exploreDateTime i{
	color:#ef426f;
}

.o-f-FC-text-red{
	color:#F00;
}

/*=========================
		button 文字總整理
=========================*/
button.btn.btn-default{
	border-radius:0;
}

button.btn.btn-default:active,
button.btn.btn-default:focus{
	outline:none;
}

button.btn.red{
	color:#FFF;
	background-color:#f56d9e;
}

button.btn.red:hover,
button.btn.red:active,
button.btn.red:focus{
	color:#FFF;
	background-color:#ef426f;
}

button.btn.blue{
	color:#FFF;
	background-color:#7a93dc;
}

button.btn.blue:hover,
button.btn.blue:active,
button.btn.blue:focus{
	color:#FFF;
	background-color:#5071d1;
}

a.btn.btn-default{
	border-radius:0;
}

a.btn.btn-default:active,
a.btn.btn-default:focus{
	outline:none;
}

a.btn.red{
	color:#FFF;
	background-color:#f56d9e;
}

a.btn.red:hover,
a.btn.red:active,
a.btn.red:focus{
	color:#FFF;
	background-color:#ef426f;
}

a.btn.blue{
	color:#FFF;
	background-color:#7a93dc;
}

a.btn.blue:hover,
a.btn.blue:active,
a.btn.blue:focus{
	color:#FFF;
	background-color:#5071d1;
}

input.btn.btn-default{
	border-radius:0;
}

a.text-red{
	color:#f56d9e;
}

a.text-red:hover,
a.text-red:active,
a.text-red:focus{
	color:#ef426f;
}




