 @charset "utf-8";

/*==========================================================================================================================
														會員資料頁面
===========================================================================================================================*/

/*===========================================收件夾共同部分====================================*/

/*================================
    navbar-bottom-list(nav下方bar)
==================================*/
div.container-fluid.m-p-y-s-change-cancel{
	font-family:"微軟正黑體";
	background-color:#f9f9f9;
	padding-bottom:4vh;
}

div.row.NavbarBottom{
	margin-top:8vh;
	background-color:#82d8d5;
	height:6vh;
}

a.return-front-page{
	height:6vh;
	line-height:6vh;
	color:#FFF;
}
a.return-front-page:hover,
a.return-front-page:focus{
	color:#FFF;
}

/*=========================
		更改預定
=========================*/

/*更改預定上方*/
button.btn.btn-default:active,
button.btn.btn-default:focus{
	outline:none;
}
	
div.y-s-change-booking-block{
	background-color:#FFF;
	height:16vh;
	box-shadow: 2px 2px 5px #888888;
}

div.col-md-2.change-icon i{
	color:#f56d9e;
	margin-left:3vw;
	margin-top:3vh;
}

a.y-s-change-booking-link,
a.y-s-change-booking-link:focus{
	color:#000;
}

a.y-s-change-booking-link:hover{
	color:#666;
}

/*更改預定下方*/
div.y-s-change-b-body{
	padding-left:0;
	margin-top:4vh;
	display:none;
}

/*小計.服務費.新總價*/
div.y-s-subtotal,
div.y-s-tip{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
}

div.y-s-newtotal{
	margin-left:1vw;
	margin-right:1vw;
}
	

/*button*/
button.y-s-c-b-giveup{
	margin-right:1vw;
}

button.y-s-c-b-save{
	background-color:#f56d9e;
	color:#FFF;
}

button.y-s-c-b-save:hover,
button.y-s-c-b-save:focus,
button.btn.y-s-c-b-save:active{
	background-color:#ef426f;
	color:#FFF;
}


/*取消預定上方*/
div.y-s-cancel-booking-block{
	background-color:#FFF;
	height:16vh;
	box-shadow: 2px 2px 5px #888888;
	margin-top:2vh;
}

div.col-md-2.cancel-icon i{
	color:#f56d9e;
	margin-left:3vw;
	margin-top:3vh;
}

a.y-s-cancel-booking-link,
a.y-s-cancel-booking-link:focus{
	color:#000;
}

a.y-s-cancel-booking-link:hover{
	color:#666;
}

/*取消預定下方左邊*/
div.y-s-cancel-b-body{
	background-color:#FFF;
	margin-top:4vh;
	display:none;
}

input.y-s-cancel-b-sumit{
	margin-left:1vw;
	background-color:#f56d9e;
	color:#FFF;
}

input.btn.y-s-cancel-b-reset:active,
input.btn.y-s-cancel-b-reset:focus{
	outline:none;
}

input.y-s-cancel-b-sumit:hover,
input.btn.y-s-cancel-b-sumit:focus,
input.btn.y-s-cancel-b-sumit:active{
	background-color:#ef426f;
	color:#FFF;
	outline:none;
}

/*取消預定下方右邊icon-wall*/
div.y-s-cancel-b-icon-wall{
	border-bottom:1px solid #CCC;
	padding-top:3vh;
	padding-bottom:2vh;
	margin-right:1vw;
}

div.y-s-cancel-b-icon-wall div.col-md-2 i{
	color:#ef426f;
}

li.y-s-cancel-b-explain{
	color:#999;
}

