 @charset "utf-8";

/*==========================================================================================================================
														會員資料頁面
===========================================================================================================================*/

/*===========================================收件夾共同部分====================================*/

/*================================
    navbar-bottom-list(nav下方bar)
==================================*/
div.m-p-explore-travel_form{
	font-family:"微軟正黑體";
	background-color:#f9f9f9;
	padding-bottom:4vh;
}

div.row.NavbarBottom{
	margin-top:8vh;
	background-color:#82d8d5;
	height:6vh;
}

a.return-front-page{
	height:6vh;
	line-height:6vh;
	color:#FFF;
}
a.return-front-page:hover,
a.return-front-page:focus{
	color:#FFF;
}

/*=========================
		左側表單
=========================*/
div.row.order-form-content{
	margin-top:3vh;
}

/*=========================
		左側表單
=========================*/
div.o-f-left-form{
	border:1px solid #CCC;
	padding-bottom:2vh;
}

/*探險時間&日期*/
div.o-f-exploreDateTime{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
}

/*體驗資訊*/
div.o-f-exp-information{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
}

/*轉帳*/
div.o-f-bill{
	margin-left:1vw;
	margin-right:1vw;
	border-bottom:1px solid #CCC;
}

div.o-f-bill-total-amount{
	background-color:#CCC;
	height:5vh;
	line-height:5vh;
}

/*幫助中心*/
div.row.o-f-help{
	margin-right:1vw;
	margin-left:1vw;
}

a.o-f-help-center{
	color:#f56d9e;
}

a.o-f-help-center:hover,
a.o-f-help-center:focus{
	color:#ef426f;
}

/*=========================
		右側資訊
=========================*/
div.o-f-right-information{
	border:1px solid #CCC;
	padding-bottom:4vh;
	margin:0;
}

div.o-f-r-s-img{
	text-align:center;
	height:20vh;
	line-height:20vh;
}

div.o-f-r-s-img img{
	width:6vw;
	height:6vw;
	border-radius:50%;
}

div.o-f-contact-share{
	margin-top:3vh;
	text-align:center;
}






