@charset "utf-8";
div.container-fluid{
	font-family:"華康粗圓體", "微軟正黑體", "超研澤中鋼筆行楷", "文鼎粗行楷";
}

/*========================================================================================================================
												navbar after logging
===========================================================================================================================*/

body{
	font-family:"華康粗圓體", "微軟正黑體", "超研澤中鋼筆行楷", "文鼎粗行楷";
}

div.fix-navbar-top{
	padding:0px;
}

nav.navbar{
	background-color:rgba(0,0,0,0.7);
	border:none;
	color:#FFF;
	font-family:"華康粗圓體", "微軟正黑體", "超研澤中鋼筆行楷", "文鼎粗行楷";
	padding-left:3%;
	font-size:20px;
}

div.navbar-left i{
	color:#FFF;
}

div.navbar-header div.form-group input.form-control[type=search]{
	border:none;
	background-color:rgba(0,0,0,0);
	width:20vw;
	padding-left:0px;
	font-size:16px;
	color:#FFF;
}

div.navbar-header div.form-group input.form-control[type=search]:focus{
	border: none;
	box-shadow: none;
}

a.navbar-brand{
	color:#FFF;
}

ul.navbar-right{
	font-size:20px;
	margin-right:5%;
}


/*a.dropdown-toggle.btn.nabar-list{
	border-right:1px solid #CCC;
	border-radius:0%;
}

a.dropdown-toggle.btn.nabar-list-system-notice{
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	border-radius:0%;
}*/


	

/*登入大頭照*/
img.profile{
	border-radius:50%;
	width:20px;
	height:20px;
	border:1px solid #FFF;
}

/*navbar-list-content*/
span.space{
	padding-right:10vw;
}


/*navbar list by hover*/
li.navbar-list-system-notice:hover .navbar-list-system-notice-content{
	display:block;
}

li.navbar-list-share-trip:hover  .navbar-list-share-trip-content{
	display:block;
}

li.navbar-list-personal-photo:hover .navbar-list-personal-photo-content{
	display:block;
}



/*個人頁面正文*/
div.personal-sheet{
	padding-top:80px;
	background-color:rgba(0,0,0,0.02);
}

div.panel-default{
	width:15vw; /*調整左側col-md-2大小*/
}

div.col-md-6.p-s-p-right-side{
	margin-left:20px; /*調整右側col-md-6位置*/
}

/*大頭照*/
.bigpic img{
	width:15vw;
	heigh:15vh; /*調整大頭照大小*/
}

/*驗證身分*/
div .id-classify{
	margin-top:1.5vw; /*調整 "驗證身分" 位置*/
}

span.p-s-p-new-verify a h6{
	float:right;
	display:none;
	color:#F00;
}

div.id-classify:hover span.p-s-p-new-verify a h6{
	display:block;
}

div.panel-body h5.check{
	margin-left:23px;
	color:#999;
}

/*關於我*/
span.p-s-p-about-me-edit a h6{
	float:right;
	display:none;
	color:#F00;
}

div.about-me:hover span.p-s-p-about-me-edit a h6{
	display:block;
}

div.about-me .panel-body h4{
	font-family:"華康粗圓體", "微軟正黑體", "超研澤中鋼筆行楷", "文鼎粗行楷";
}

div.about-me .panel-body p{
	font-family:"華康粗圓體", "微軟正黑體", "超研澤中鋼筆行楷", "文鼎粗行楷";
}

/*創建旅程*/
div.edit-ex1-img{
	margin-top:1vh;
	background-image:url(../PIC/45946-1-big.jpg);
	background-size:cover;
	width:15vw;
	height:25vh;
	background-color:rgb(0,0,0,0.3);
	margin-top:2vh;
	border:1px solid #CCC;
}

div.edit-ex1-text{
	text-align:center;
	margin-top:15vh;
	color:#FFF;
	background-color:rgba(0,0,0,0.2);
}

div.edit-ex1-img:hover{
	border:1px solid #666;
}

div.col-md-2.bigpic a.edit-ex1-link{
	text-decoration:none
}

div.edit-ex2-img{
	background-image:url(../PIC/1349342064-3318452517.jpg);
	background-size:cover;
	width:15vw;
	height:25vh;
	background-color:rgb(0,0,0,0.3);
	margin-top:2vh;
	border:1px solid #CCC;
}

div.edit-ex2-img:hover{
	border:1px solid #666;
}

div.edit-ex2-text{
	text-align:center;
	margin-top:15vh;
	color:#FFF;
	background-color:rgba(0,0,0,0.2);
}

div.col-md-2.bigpic a.edit-ex2-link{
	text-decoration:none
}

a.loading-more p{
	margin-top:1vh;
}

a.loading-more{
	color:#F00;
}



/*舉報此用戶*/
a#modal-399168:focus{
	border: none;
	box-shadow:none;
	outline:none;
}

/*icon-wall*/
div p.good-icon i{
	color:#C00;
}
div p.evaluate-icon i{
	color:#F90;
}
div p.verify-icon i{
	color:#090;
}

p.evaluate-icon a.evaluate-icon-text{
	color:#000;
	text-decoration:none;
}

/*我的最愛*/
div.my-favotite-1-img{
	background-image:url(../PIC/15776989598_b7743935a0_c.jpg);
	background-size:cover;
	width:15vw;
	height:35vh;
	background-color:rgb(0,0,0,0.3);
	border:1px solid #CCC;
	margin-left:1vw;
}

div.my-favotite-1-text{
	text-align:center;
	margin-top:20vh;
	color:#FFF;
	background-color:rgba(0,0,0,0.2);
}

div.my-favotite-1-img:hover{
	border:1px solid #666;
}

div.my-favotite-2-img{
	background-image:url(../PIC/d1591209.jpg);
	background-size:cover;
	width:15vw;
	height:35vh;
	background-color:rgb(0,0,0,0.3);
	border:1px solid #CCC;
	margin-left:1vw;
}

div.my-favotite-2-text{
	text-align:center;
	margin-top:20vh;
	color:#FFF;
	background-color:rgba(0,0,0,0.2);
}

div.my-favotite-2-img:hover{
	border:1px solid #666;
}

div.my-favotite-3-img{
	background-image:url(../PIC/izakaya.jpg);
	background-size:cover;
	width:15vw;
	height:35vh;
	background-color:rgb(0,0,0,0.3);
	border:1px solid #CCC;
	margin-left:1vw;
}

div.my-favotite-3-text{
	text-align:center;
	margin-top:20vh;
	color:#FFF;
	background-color:rgba(0,0,0,0.2);
}

div.my-favotite-3-img:hover{
	border:1px solid #666;
}

/*評價*/
.img-circle{
	width:6vw;
	height:6vw;
}


/*==============================================================================================================
													foooter
=================================================================================================================*/
div.footerlist-all{
	margin-top:2vw;
}

div.footerlist-all li{
	list-style:none;
}

div.footerlist{
	background-color:#666;
	color:#FFF;
	font-family:"華康粗圓體", "微軟正黑體", "超研澤中鋼筆行楷", "文鼎粗行楷";
	padding:1%;
	padding-left:10%;
	padding-right:10%;
}

div.footerlist a{
	text-decoration:none;
	color:#CCC;
}

input#exampleInputEmail1[type=email]{
	border-radius:0;
}
/* socialsoftware */
div.socialsoftware{
	text-align:center;
	font-size:24px;
	background-color:#333;
	color:#FFF;
	font-family:"華康粗圓體", "微軟正黑體", "超研澤中鋼筆行楷", "文鼎粗行楷";
	padding-bottom:2.5vh;
}


div.company p{
	color:#666;
	margin-top:2.5vh;
	font-size:16px;
}

/*icon design*/

div.socialsoftware-icon a{
	display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #909090;
    border-radius: 50px;
}

div.socialsoftware-icon a i{
    font-size: 15px;
    color:#FFF;
}

div.socialsoftware-icon a i:hover{
	color:#999;
}







