 @charset "utf-8";

/*==========================================================================================================================
														會員資料頁面
===========================================================================================================================*/

/*===========================================收件夾共同部分====================================*/

/*================================
    navbar-bottom-list(nav下方bar)
==================================*/
div.m-p-sheet{
	font-family:"微軟正黑體";
	background-color:#f9f9f9;
}

div.row.NavbarBottom{
	margin-top:8vh;
	background-color:#82d8d5;
	height:6vh;
}

span.NavbarBottomListCotent{
	padding:2vh;
	font-size:14px;
	height:6vh;
	line-height:6vh;
}


span.NavbarBottomListCotent a{
	color:#000;
	text-decoration:none;
	border:1px solid #82d8d5;
}

div.col-md-10 span.NavbarBottomListCotent a{
	padding:1vh;
}

span.active.NavbarBottomListCotent a{
	padding-left:0;
}


span.NavbarBottomListCotent a:hover,
span.NavbarBottomListCotent a:focus{
	color:#FFF;
}

span.active.NavbarBottomListCotent a{
	color:#FFF;
}


/*inbox content list(通知/體驗/訊息切換)*/

div.row.InboxContent{
	background-color:#f9f9f9;
	padding-bottom:2vw;
}

div.inbox-content-list{
	margin-top:5vh;
}

div.inbox-content-content{
	border:1px solid #CCC;
	margin-top:1vh;
	min-height:64vh;
}
ul.inbox-list.nav{
	border:none;
}

li.inbox-list-name a{
	border-top:none !important;
	border-left:none !important;
	border-right:none !important;
	color:#000;
}

li.inbox-list-name a:hover,
li.inbox-list-name a:focus{ 
	border-bottom:2px solid #82d8d5 !important;
	background:#f9f9f9 !important;
	color:#000;
}

li.active.inbox-list-name a,
li.active.inbox-list-name a:hover
li.active.inbox-list-name a:focus{
	 border-bottom:2px solid #82d8d5 !important;
	 background:#f9f9f9 !important;
	 color:#000;

}

/*inbox cotent notice*/
div.tab-content.inbox-content-content{
	background-color:#FFF;
}

/*訊息 dropdown menu*/

ul li.DropdownMenuForMessage{
	float:right;
}

ul li.DropdownMenuForDiaMessage{
	float:right;
}

ul li.DropdownMenuForMessage,
ul li.DropdownMenuForDiaMessage{
	display:none;
}

/*===========================================收件夾不同部分=======================================================*/

/*==================================
		inbox_contnt_none(沒東西的時候)
====================================*/

div.inbox-content-content-notice-none{
	padding-top:17vh;
	text-align:center;
}

div.inbox-content-content-message-none{
	padding-top:17vh;
	text-align:center;
}

div.inbox-content-content-dialogue-none{
	padding-top:17vh;
	text-align:center;
}



/*========================================
		inbox_contnt_show(有東西的時候)
=========================================*/

/*inbox content下方分頁*/
ul.pagination li a{
	margin-right:1vw;
	color:#91dfdf;
}
ul.pagination li a:hover,
ul.pagination li a:focus{
	background-color:#FFF;
}

div.pagination-bar{
	text-align:center;
}

div.for-pagination-notice{
	padding-top:2.2vh;
}

div.for-pagination-message{
	padding-top:2vh;
}

div.for-pagination-dialogue{
	padding-top:2vh;
}

/*=========inbox cotent notice(通知)============*/
div.i-c-c-n-NoticeList{
	border-bottom:1px solid #CCC;
	border-radius:0%;
	margin-top:0;
	margin-bottom:0;
	margin-left:2vw;
	margin-right:2vw;
	height:12.1vh;
	padding-top:5vh;
}

a.iccn-text{
	color:#f56d9e;
}
a.iccn-text:hover,
a.iccn-text:focus{
	color:#db0a5b
}

/*===============inbox cotent message(訊息===============)*/
div.i-c-c-m-MessageList{
	border-bottom:1px solid #CCC;
	margin-left:2vw;
	margin-right:2vw;
}

/*訊息之個人圖像*/
div.i-c-c-m-img img{
	width:4vw;
	height:4vw;
	border-radius: 50%;
}

div.i-c-c-m-img{
	height:12vh;
	line-height:12vh;
	padding-right:0;
	text-align:right;
}

/*訊息之個人名字&日期*/
div.i-c-c-m-personal{
	height:12vh;
	padding-top:2vh;
	text-align:center;
}

/*訊息之個人message*/
div.i-c-c-m-information{
	height:12vh;
	padding-top:3vh;
}

p.i-c-c-m-message{
	width:35vw;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	margin-bottom:0;
}

p.i-c-c-m-address_n_time{
	display:inline;
	margin-top:0;
}

/*訊息的接受與否狀態*/
div.i-c-c-m-status{
	height:12vh;
	padding-top:2vh;
}

p.i-c-c-m-price{
	display:inline;
}

p.i-c-c-m-yes{
	color:#ef426f;
}

p.i-c-c-m-no{
	color:#fcb131;
}

p.i-c-c-m-cancel{
	color: #5071d1;
}

	
/*==========inbox cotent experience(對話)===================*/
div.i-c-c-d-DialogueList{
	border-bottom:1px solid #CCC;
	margin-left:2vw;
	margin-right:2vw;
}

/*訊息之個人圖像*/
div.i-c-c-d-img img{
	width:4vw;
	height:4vw;
	border-radius: 50%;
}

div.i-c-c-d-img{
	height:12vh;
	line-height:12vh;
	padding-right:0;
	text-align:right;
}

/*訊息之個人名字&日期*/
div.i-c-c-d-personal{
	height:12vh;
	padding-top:2vh;
	text-align:center;
}

/*訊息之個人message*/
div.i-c-c-d-information{
	height:12vh;
	padding-top:3vh;
}

p.i-c-c-d-message{
	width:35vw;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	margin-bottom:0;
}

p.i-c-c-d-address_n_time{
	display:inline;
	margin-top:0;
}

/*訊息的接受與否狀態*/
div.i-c-c-d-status{
	height:12vh;
	padding-top:2vh;
}

p.i-c-c-d-price{
	display:inline;
}

p.i-c-c-d-booking{
	color:#ef426f;
}

p.i-c-c-d-allow{
	color:#fcb131;
}

p.i-c-c-d-cancel{
	color: #5071d1;
}




/*================================收件夾對話頁面===================================*/

/*navbar bottom*/

a.return-m-p-inbox{
	height:6vh;
	line-height:6vh;
	text-decoration:none;
	color:#FFF;
}

a.return-m-p-inbox:hover,
a.return-m-p-inbox:focus{
	color:#FFF;
}

div.chat-body{
	margin-top:3vh;
}

/*左側體驗內容資訊*/
div.m-p-i-d-Exp-img a img{
	width:100%;
}

h4.m-p-i-d-ExpName{
	text-align:center;
	background-color:rgba(0,0,0,0.3);
	color:#FFF;
	height:8vh;
	line-height:8vh;
	position:absolute;
	width:22.7vw;
	top:72%;
}

div.row.m-p-i-d-Exp-information{
	background-color:#FFF;
	border:1px solid #CCC;
	width:22.8vw;
	margin-left:0;
}

div.row.m-p-i-d-Exp-information ul,
div.row.m-p-i-d-Exp-information p{ 
	border-bottom:1px solid #CCC;
	padding-bottom:1vh;
}


/*scroll-bar*/
div.m-p-i-dialouge-sheet::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #F5F5F5;
}

div.m-p-i-dialouge-sheet::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

div.m-p-i-dialouge-sheet::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color:#CCC;
}

/*上方對話框*/
div.m-p-i-dialouge-sheet{
	border:1px solid #CCC;
	background-color:#FFF;
	height:70vh;
	overflow:auto;
}

/*左方people*/
div.chat-for-left{
	margin-top:1vh;
}
div.left-people img{
	height:4vw;
	width:4vw;
	border-radius:50%;
	margin-top:3vh;
}

p.left-people-chat{
	color:#000;
	max-width:30vw;
	padding:1vw;
	background-color:#CCC;
	border-radius: 30px;
	border-top-left-radius: 5px;
}

small.left-time{
	margin-left:1vw;
}

/*右方people*/
div.right-people{
	padding-left:0;
}

div.right-people img{
	height:4vw;
	width:4vw;
	border-radius:50%;
	margin-top:3vh;
}

p.right-people-chat{
	color:#000;
	max-width:30vw;
	padding:1vw;
	background-color:#fcb131;
	border-radius:30px;
	border-top-right-radius: 5px;
}
div.right-header{
	text-align:right;
}

strong.right-people-name{
	margin-left:1vw;
}


/*下方對話textarea*/
div.chat-footer{
	margin-top:1vh;
}

div.m-p-i-d-textarea{
	margin-right:0;
	padding-right:0;
}

div.input-group-btn{
	margin-left:0;
	padding-left:0;
}


textarea.chat-for-text{
	background-color:#FFF;
	overflow:auto;
	width:52.5vw;
	height:9vh;
	resize: none;
	margin-left:-1.2vw;
}

textarea.chat-for-text:active,
textarea.chat-for-text:focus{
	outline:none;
}

button.btn.c-h-t-send{
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	height:9vh;
	margin-left:9.6vw;
}

button.btn.c-h-t-send:active,
button.btn.c-h-t-send:focus{
	outline:none;
}




