@charset "utf-8";
/* CSS Document */

/*導航列的部分*/

body{
	font-family:"華康粗圓體", "微軟正黑體", "超研澤中鋼筆行楷", "文鼎粗行楷";
}

div.fix-navbar-top{
	padding:0px;
}

nav.navbar{
	background-color:rgba(0,0,0,0.7);
	border:none;
	color:#F00;
	font-family:'華康粗圓體', '微軟正黑體', '超研澤中鋼筆行楷', '文鼎粗行楷';
	padding-left:3%;
	font-size:20px;
	width:100%;

}

div.navbar-left i{
	color:#FFF;
}

div.navbar-header div.form-group input.form-control[type=search]{
	border:none;
	background-color:rgba(0,0,0,0);
	width:50vw;
	padding-left:0px;
	font-size:16px;
	color:#FFF;
}

div.navbar-header div.form-group input.form-control[type=search]:focus{
	border: none;
	box-shadow: none;
}

a.navbar-brand{
	color:#FFF;
}

ul.navbar-right{
	font-size:20px;
	margin-right:5%;
}

a#modal-87912{
	outline:none;
}
/*Alert Box for SignIn*/
div.modal-dialog{
	text-align:center;
	font-family:"華康粗圓體", "微軟正黑體", "超研澤中鋼筆行楷";
}

div.modal-body img{
	height:10vh;
}

div.checkbox{
	text-align:center;
}

div.modal-footer button:active{
	outline: none;
	border: none;	
}

/* 快速註冊下拉選單的部分 */
button.signin-button{
	float:left;
}

div.panel-heading-id a{
	float:right;
}

div.panel-body-id{
	margin-top:5vw;
}

div.evaluation-sheet{
	display:none;
}

div.trust-verify{
	display:none;
}

div.personal-pic-film{
	display:none;
}

div.col-sm-10{
	width:50vw;
}

div.col-md-9{
	padding-left:5vw;
}

/*總表*/
div.panel.expert{
	border:1px solid #EAECEE;  /*備註:極淺灰*/
}
div.panel-heading{
	background-color:#EAECEE;
}


/*個人頁面編輯的頁首*/

div.basic-information-title{
	font-family:"華康粗圓體", "微軟正黑體", "超研澤中鋼筆行楷";
	text-align:center;
	background-image:url(file:///F|/TripCelL/CreateExperience_file/Image/blurred_lines.jpeg);
	background-size:cover;
	background-attachment:fixed;
	color:#FFF;
	width:100%;
}

div.basic-information-title h3{
	color:#CCC;
}

/*個人頁面的內容文字*/
div.createExperience{
	font-family:"華康粗圓體", "微軟正黑體", "超研澤中鋼筆行楷";
}

/*個人頁面的左側列表*/

div.left-button-group{
	font-family:"華康粗圓體", "微軟正黑體", "超研澤中鋼筆行楷";
	padding-left:5vw;
}

div.left-button-group ul{
	margin-top:5vh;
}
div.left-button-group ul li{
	height:10vh;
	text-align:center;
	line-height:10vh;
}

div.left-button-group ul li a{
	height:10vh;
	border-bottom: #CCC 1px solid;
	border-radius: 0px;
	color: #000;
	
}

/*編輯個人資料的部分*/
div.Personal-edit-group{
	padding-top:5vh;
}

div.panel.expert.tel{
	border:none;
}
div.panel.expert.contact{
	border:none;
}

a.collapsed{
	color:#FF8080;
}


/*個人頭像影片*/

div.form-group.personal{
	padding-left:2vw;
}

/*信任及驗證的部分*/
div.trust-verify{
	padding-top:5vh;
}

div.identify{
	padding-left:3vw;
}

.verify{
	padding-left:2vw;
}

div.panel.expert p{                 
	padding-left:2vw;
}

div.panel.expert.tel2{
	border:none;
	padding-left:2vw;
}

div.fb{
	padding-left:2vw;
}


/*行程內容的部分*/
div.personal-pic-film{
	padding-top:5vh;
}


/*信任及驗證的部分*/
div.other-commnet{
	padding-top:5vh;
}

/*評價*/
div.panel.expert.evaluation{
	margin-top:3vh;
}
img.p-s-c-img{
	height:5vw;
	width:5vw;
	border:1px solid red;
}
blockquote p.comment{
	font-size:14px;
}

.guest-location{
	margin-left:2vw;
}


/* button for 儲存*/
button.btn-danger{
	border:none;
	border-bottom:2px solid #FF1717;
	border-radius:0;
}


/* Footer  */

div.footerlist-all li{
	list-style:none;
}

div.footerlist{
	background-color:#666;
	color:#FFF;
	font-family:"華康粗圓體", "微軟正黑體", "超研澤中鋼筆行楷", "文鼎粗行楷";
	padding:1%;
	padding-left:10%;
	padding-right:10%;
}

div.footerlist a{
	text-decoration:none;
	color:#CCC;
}

input#exampleInputEmail1[type=email]{
	border-radius:0;
}
/* socialsoftware */
div.socialsoftware{
	text-align:center;
	font-size:24px;
	background-color:#333;
	color:#FFF;
	font-family:"華康粗圓體", "微軟正黑體", "超研澤中鋼筆行楷", "文鼎粗行楷";
	padding-bottom:2.5vh;
}

div.company p{
	color:#666;
	margin-top:2.5vh;
	font-size:16px;
}
