@charset "utf-8";




/*=========================每一個Step的標題=============================*/
div.createsop h3.text-left{
	font-size:36px;
	font-weight:bolder;
}
/*=========================上方大圖=============================*/
div.header{
	background-image:url(../image/IntroLeader_header.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center;
	height:90vh;
	vertical-align:top;
}

div.header-intro{
	background-color:rgba(130,216,213,0.8);
	/*background-color:#FCC214;*/
	color:#FFF;
	width:30vw;
	height:45vh;
	position:relative;
	top:30vh;
	font-family:"華康粗圓體", "微軟正黑體", "細明體";
}

div.header-intro h1{
	padding:0;
}

div.bealeader{
	line-height:17vh;
}

div.bealeader a{
	background-color:#f56d9e;
	border:none;
	border-radius:0;
	height:10vh;
	padding-top:0;
	padding-bottom:0;
	color:#FFF;
}

div.bealeader a:hover{
	color:#FFF;
	background-color:#ef426f;
}

/*=========================如何創建=============================*/
div.howtocreate{
	text-align:center;
	font-family:"華康粗圓體", "微軟正黑體", "細明體";
	background-color:rgba(238,238,238,1);
}

/*=========================遊戲規則說明Step.1=============================*/
div.side-empty-step1{
	background-color:rgba(238,238,238,1);
	height:70vh;
}

div.createsop-step1{
	height:70vh;
	font-family:"華康粗圓體", "微軟正黑體", "細明體";
	border-bottom:8vh solid rgba(238,238,238,1);
}

div.I-L-step1-content{
	margin-top:5vh;
}
/*=========================遊戲規則說明Step.2=============================*/
div.side-empty-step2{
	background-color:rgba(238,238,238,1);
	height:70vh;
}

div.createsop-stpe2{
	height:70vh;
	font-family:"華康粗圓體", "微軟正黑體", "細明體";
	border-bottom:8vh solid rgba(238,238,238,1);	
}

div.I-L-step2-content{
	margin-top:5vh;
}

/*=========================遊戲規則說明Step.3=============================*/
div.side-empty-step3{
	background-color:rgba(238,238,238,1);
	height:105vh;
}

div.createsop-stpe3{
	height:105vh;
	font-family:"華康粗圓體", "微軟正黑體", "細明體";
	border-bottom:8vh solid rgba(238,238,238,1);	
}

div.I-L-step3-content{
	margin-top:5vh;
}

/*=========================遊戲規則說明Step.4=============================*/
div.side-empty-step4{
	background-color:rgba(238,238,238,1);
	height:55vh;
}

div.createsop-stpe4{
	height:55vh;
	font-family:"華康粗圓體", "微軟正黑體", "細明體";
	background-color:rgba(238,238,238,1);	
}

div.I-L-step4-content{
	margin-top:5vh;
}

/*=========================下方大圖=============================*/
div.footer-photo{
	background-image:url(../Image/footer.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center;
	background-attachment:fixed;
	height:90vh;
	padding-top:30vh;
}

div.footer-photo-intro{
	background-color:rgba(130,216,213,0.7);
	font-family:"華康粗圓體", "微軟正黑體", "細明體";
	color:#FFF;
	height:30vh;
}

div.footer-photo-intro h1{
	padding:0;
}

div.bealeader-footer a{
	background-color:#f56d9e;
	border:none;
	border-radius:0;
	height:10vh;
	line-height:10vh;
	padding-top:0;
	padding-bottom:0;
	color:#FFF;
	font-size:26px;
	margin-top:1vh;
}

div.bealeader-footer a:hover{
	color:#FFF;
	background-color:#ef426f;
}

