 @charset "utf-8";

/*==========================================================================================================================
														會員資料頁面
===========================================================================================================================*/

/*===========================================收件夾共同部分====================================*/

/*================================
    navbar-bottom-list(nav下方bar)
==================================*/
div.m-p-explore-travel_form{
	font-family:"微軟正黑體";
	background-color:#f9f9f9;
	padding-bottom:4vh;
}

div.row.NavbarBottom{
	margin-top:8vh;
	background-color:#82d8d5;
	height:6vh;
}

a.return-front-page{
	height:6vh;
	line-height:6vh;
	color:#FFF;
}
a.return-front-page:hover,
a.return-front-page:focus{
	color:#FFF;
}

/*=========================
		左側上方表單
=========================*/
div.t-f-left-form-up{
	border:1px solid #CCC;
	padding-bottom:2vh;
}

/*探險時間&日期*/
div.t-f-exploreDateTime{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
}

/*體驗資訊*/
div.t-f-exp-information{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
}

p.m-p-e-t-f-notice{
	margin-top:0.5vh
}
	

/*帳單*/
div.t-f-bill{
	margin-left:1vw;
	margin-right:1vw;
}

div.t-f-bill-total-amount{
	background-color:#CCC;
	height:5vh;
	line-height:5vh;
}

/*=========================
		左側下方表單
=========================*/
div.t-f-left-form-down{
	border:1px solid #000;
	margin-top:4vh;
}

/*=========================
		右側上方資訊
=========================*/
button.btn.btn-lg:active,
button.btn.btn-lg:focus{
	outline:none;
}

div.t-f-right-information{
	border:1px solid #CCC;
	padding-bottom:4vh;
	margin:0;
}

div.t-f-r-s-img{
	text-align:center;
	height:20vh;
	line-height:20vh;
}

div.t-f-r-s-img img{
	width:6vw;
	height:6vw;
	border-radius:50%;
}

div.t-f-contact-share{
	margin-top:3vh;
	text-align:center;
}

div.t-f-contact-share button{
	background-color:#f56d9e;
	color:#FFF;
	border-radius:0;
	width:18vw;
}

div.t-f-contact-share button:hover,
div.t-f-contact-share button:focus{
	border-radius:0;
	background-color:#ef426f;
	color:#FFF;
}

/*右側下方圖*/
div.t-f-right-ExpLink{
	margin-top:4vh;
}

div.t-f-right-ExpLink a img{
	width:100%;
}

div.t-f-right-ExpLink h4{
	position:absolute;
	color:#FFF;
	background-color:rgba(0,0,0,0.3);
	text-align:center;
	width:22.5vw;
	height:10vh;
	line-height:10vh;
	top:63%;
	left:4.5%;
}







