 @charset "utf-8";

/*==========================================================================================================================
														會員資料頁面
===========================================================================================================================*/

/*================================
    navbar-bottom-list(nav下方bar)
==================================*/
div.m-p-sheet{
	font-family:"微軟正黑體";
}


div.row.NavbarBottom{
	margin-top:8vh;
	background-color:#82d8d5;
	height:6vh;
}

span.NavbarBottomListCotent{
	padding:2vh;
	font-size:14px;
	height:6vh;
	line-height:6vh;
}


span.NavbarBottomListCotent a{
	color:#000;
	text-decoration:none;
	border:1px solid #82d8d5;
}

div.col-md-10 span.NavbarBottomListCotent a{
	padding:1vh;
}

span.active.NavbarBottomListCotent a{
	padding-left:0;
}


span.NavbarBottomListCotent a:hover,
span.NavbarBottomListCotent a:focus{
	color:#FFF;
}

span.active.NavbarBottomListCotent a{
	color:#FFF;
}

/*================================================================
   						"你的探險" 正文開始
=================================================================*/

/*===========你的探險 共同部分============*/
div.container-fluid{
	font-family: "微軟正黑體", "華康粗圓體", "超研澤中鋼筆行楷", "文鼎粗行楷";
}

div.member-profile-explore{
	background-color:#f9f9f9;
	padding-bottom:2vw;
}



/*參與的探險下拉式選單*/
div.DropdownMenuForJoinExplore{
	margin-top:4vh;
	width:11vw;
	margin-left:5.5vw;
	height:6vh;
}


/*你的探險左側 Menu*/
div.MemberProfileExploreMenu{
}


ul.m-p-e-menu li a{
	font-size:20px;
	font-weight:bold;
	height:7vh;
	line-height:7vh;
	text-decoration:none;
	color:#999;
}

ul.m-p-e-menu li a:hover{
	color:#CCC;
}

ul.m-p-e-menu li a:focus{
	color:#000;
}

ul.m-p-e-menu li.active a{
	color:#000;
}

button.m-p-e-StartAdventure{
	margin-top:8vh;
	background-color:#7a93dc;
	color:#FFF;
	border-radius:0;
}

button.m-p-e-StartAdventure:hover,
button.m-p-e-StartAdventure:focus,
button.btn.m-p-e-StartAdventure:active{
	border-radius:0;
	background-color:#5071d1;
	color:#FFF;
}


/*你的探險 右側內容 border,高,寬*/

div.col-md-8.MemberProfileExploreContent{
	border:1px solid #CCC;
	width:65vw;
	min-height:73vh;
	background-color:#FFF;
}

/*=================你的探險 不同部分====================*/

/*你的探險 右側內容 none*/
div.m-p-e-c-JoinExpText{
	text-align:center;
	margin-top:30vh;
}

div.m-p-e-c-FavoriteText{	
	text-align:center;
	margin-top:30vh;
}



/*你的探險 右側內容 show*/

/*=======參與的探險========*/
/*上方list*/

div.JoinExploreList{
	border-bottom:1px solid #CCC;
	margin-right:1vw;
	margin-left:1vw;
}


/*==已預定==*/
div.row.j-e-status-AlreadyBooking{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
	padding-top:1.5vh;
	padding-bottom:1.5vh;
}

h4.j-e-s-a-booking{
	color:#5071d1;
}

/*日期地點*/
div.j-e-DateLocation{
}

/*詳情*/
div.j-e-detail{
}

div.j-e-detail ul li a{
	color:#7a93dc;
}

div.j-e-detail ul li a:hover,
div.j-e-detail ul li a:focus{
	color:#5071d1;
}

div.j-e-DateLocation i{
	color:#F00;
}
	

/*體驗內容-圖*/
div.to-exp-content-img{
	padding-left:0;
}
div.to-exp-content-img img{
	width:10vw;
	height:14vh;
	border:1px solid #CCC;
}
div.to-exp-content-img img:hover{
	border:1px solid #666;
}

/*連結行程總表單*/
div.travel-form-button{
	padding-left:0;
}

button.travel-form-link{
	background-color:#7a93dc;
	color:#FFF;
	border-radius:0;
}

button.travel-form-link:hover,
button.travel-form-link:focus,
button.btn.travel-form-link:active{
	border-radius:0;
	background-color:#5071d1;
	color:#FFF;
}

/*==已取消==*/
div.row.j-e-status-AlreadyCancel{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
	padding-top:1.5vh;
	padding-bottom:1.5vh;
}

h4.j-e-s-a-cancel{
	color:#82d8d5;
}

/*已參與*/
div.row.j-e-status-AlreadyJoin{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
	padding-top:1.5vh;
	padding-bottom:1.5vh;
}

h4.j-e-s-a-join{
	color:#fcb131;
}

/*待確認*/
div.row.j-e-status-ToBeConfirm{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
	padding-top:1.5vh;
	padding-bottom:1.5vh;
}

h4.j-e-s-t-BeConfirm{
	color:#999;
}

a.btn.ImmediatelyCancel{
	background-color:#7a93dc;
	color:#FFF;
	border-radius:0;
}

a.btn.ImmediatelyCancel:hover,
a.btn.ImmediatelyCancel:focus,
a.btn.ImmediatelyCancel:active{
	border-radius:0;
	background-color:#5071d1;
	color:#FFF;
	outline:none;
}


/*變更中1*/
div.row.j-e-status-Change1{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
	padding-top:1.5vh;
	padding-bottom:1.5vh;
}

h4.j-e-s-change1{
	color:#82d8d5;
}

/*變更中2*/
div.row.j-e-status-Change2{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
	padding-top:1.5vh;
	padding-bottom:1.5vh;
}

h4.j-e-s-change2{
	color:#82d8d5;
}


/*變更中3*/
div.row.j-e-status-Change3{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
	padding-top:1.5vh;
	padding-bottom:1.5vh;
}

h4.j-e-s-change3{
	color:#82d8d5;
}



/*Join-Explore content下方分頁*/
ul.pagination li a{
	margin-right:1vw;
	color:#91dfdf;
}
ul.pagination li a:hover,
ul.pagination li a:focus{
	background-color:#FFF;
}

div.pagination-bar{
	text-align:center;
}


/*===========心願單============*/

/*"心願單"內容*/
div.row.m-p-e-WishList{
}

div.m-p-e-WL-img{
	margin-top:5vh;
}

div.m-p-e-WL-img a{
	color:#7a93dc;
	text-decoration:none;
}

div.m-p-e-WL-img h3 a{
	padding-left:1vw;
	margin-top:0;
}

div.m-p-e-WL-img p{
	padding-left:1vw;
}

/*評價星星*/
div.m-p-e-WL-img p i{
	color:#FC0;
}


/*價格標籤*/
h3.m-p-e-WL-price{
	position:absolute;
	top:-17vh;
	min-width:1vw;
	height:6vh;
	line-height:6vh;
	background-color:rgba(0,0,0,0.5);
	color:#FFF;
	padding-left:1vw;
	padding-right:1vw;
}

h3.m-p-e-WL-price::after{
	content:  "NTD";
	font-size:14px;
	margin-left:1vh;
}

/*大頭照*/
img.m-p-e-WL-personal-photo{
	margin-top:2vh;
	width:4vw;
	height:4vw;
	position:absolute;
	right:2vw;
	top:30vh;	
	border:2px solid #FFF;
	z-index:1;
}

/*體驗封面照片*/
img.m-p-e-WL-photo-cover{
	display:block;
	text-align:center;
	height:37vh;
	overflow:hidden;
/*	padding-left:1vw;
	padding-right:1vw;
	padding-top:1vh;
	padding-bottom:1vh; */
}

/*photo下方文字區域*/
div.m-p-e-WL-text-group{
	background-color:#EFEFEF;
	padding:0;
	border:1px solid #EFEFEF;
}
/*隱藏並縮短標題*/
div.m-p-e-WL-text-group a{
	white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
	margin-bottom:2vh;
	margin-top:2vh;
}
/*隱藏並縮短標題end*/

p.m-p-e-WL-location{
	font-size:16px;
	color:#333;
	margin-bottom:0;
}
/*評論的部分*/
.m-p-e-WL-EL-judgement{
	font-size:16px;
}
/*右下角icon位置*/
img.m-p-e-WL-EL-Icongroup{
	width:1.7vw;
}

div.tooltip-inner {
    min-width:75px;
}


/*================================================================
   						"你的探險"-更改與取消
=================================================================*/

/*返回上一頁*/
a.return-front-page{
	height:6vh;
	line-height:6vh;
	color:#FFF;
}
a.return-front-page:hover,
a.return-front-page:focus{
	color:#FFF;
}

div.m-p-change-cancel{
	font-family:"微軟正黑體";
	background-color:#f9f9f9;
	padding-bottom:4vh;
}


/*=========================
		更改預定
=========================*/


/*更改預定上方*/
div.c-c-change-booking-block{
	background-color:#FFF;
	height:16vh;
	box-shadow: 2px 2px 5px #888888;
}

div.col-md-2.change-icon i{
	color:#7a93dc;
	margin-left:3vw;
	margin-top:3vh;
}

a.c-c-change-booking-link,
a.c-c-change-booking-link:focus{
	color:#000;
}

a.c-c-change-booking-link:hover{
	color:#666;
}

/*更改預定下方*/
div.c-c-change-b-body{
	padding-left:0;
	margin-top:4vh;
	display:none;
}

/*小計.服務費.新總價*/
div.c-b-subtotal,
div.c-b-tip{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
}

div.c-b-newtotal{
	margin-left:1vw;
	margin-right:1vw;
}
	

/*button*/
button.c-c-c-b-giveup{
	margin-right:1vw;
}

button.c-c-c-b-save{
	background-color:#7a93dc;
	color:#FFF;
}

button.c-c-c-b-save:hover,
button.btn.c-c-c-b-save:focus,
button.btn.c-c-c-b-save:active{
	background-color:#5071d1;
	color:#FFF;
}

/*更改預定右側提醒*/
#c-c-change-booking-remind{
	display:none;
}

h3.c-c-change-booking-remind-title{
	margin-left:1vw;
}

div.c-c-change-b-icon-wall{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
}

div.c-c-change-b-icon-wall div.col-md-10{
	padding:0;
}


div.c-c-change-b-icon-wall i{
	color:#5071d1;
}

li.c-c-change-b-explain{
	color:#999;
}

/*取消預定上方*/
div.c-c-cancel-booking-block{
	background-color:#FFF;
	height:16vh;
	box-shadow: 2px 2px 5px #888888;
	margin-top:2vh;
}

div.col-md-2.cancel-icon i{
	color:#7a93dc;
	margin-left:3vw;
	margin-top:3vh;
}

a.c-c-cancel-booking-link,
a.c-c-cancel-booking-link:focus{
	color:#000;
}

a.c-c-cancel-booking-link:hover{
	color:#666;
}

a.c-c-cancel-booking-blue{
	color:#7a93dc;
}

a.c-c-cancel-booking-blue:hover,
a.c-c-cancel-booking-blue:active{
	color:#5071d1;
}

/*取消預定下方左側*/
div.c-c-cancel-booking-body{
	display:none;
}

div.c-c-cancel-b-body{
	background-color:#FFF;
	margin-top:4vh;
	height:60vh;
}

input.c-c-cancel-b-sumit{
	margin-left:1vw;
	background-color:#7a93dc;
	color:#FFF;
}

input.btn.c-c-cancel-b-reset:active,
input.btn.c-c-cancel-b-reset:focus{
	outline:none;
}

input.c-c-cancel-b-sumit:hover,
input.c-c-cancel-b-sumit:focus,
input.btn.c-c-cancel-b-sumit:active{
	background-color:#5071d1;
	color:#FFF;
	outline:none;
}

/*取消預定下方右側*/
div.c-c-cancel-b-RefundSummary{
	background-color:#FFF;
	margin-top:4vh;
	height:60vh;
}

div.c-c-c-b-RefundSummary{
	margin-top:5vh;
}

div.c-c-cancel-b-RightForm{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
}

div.c-c-cancel-b-RightForm h4{
	height:5vh;
	line-height:5vh;
}

div.c-c-cancel-b-RightForm-bottom{
	background-color:#E6E6E6;
	margin-left:1vw;
	margin-right:1vw;
	border-bottom:1px solid #CCC;
}

div.c-c-cancel-b-RightForm-bottom h4{
	height:5vh;
	line-height:5vh;
}



/*================================================================
   						"你的探險"-分享體驗
=================================================================*/
div.container-fluid.m-p-explore-share{
	font-family: "微軟正黑體", "華康粗圓體", "超研澤中鋼筆行楷", "文鼎粗行楷";
}
	

div.share-explore-panel{
	margin-top:20vh;
	margin-bottom:20vh;
}


/*新增電子郵件*/
div.m-p-s-add-email{
	margin-top:3vh;
}

input[type="text"].form-control.CreateExp_inputFeature:active,
input[type="text"].form-control.CreateExp_inputFeature:focus{
	outline:none;
	border:1px solid #CCC;
	box-shadow:none;
}

button.btn.btn-add{
	color:#3cdbc0;
	background-color:#FFF;
	border:1px solid #CCC;
}

button.btn.btn-add:active,
button.btn.btn-add:focus{
	outline:none;
}

button.btn-remove{
	color:#f56d9e;
	background-color:#FFF;
	border:1px solid #CCC;
}

button.btn.btn-remove:active,
button.btn.btn-remove:focus{
	color:#f56d9e;
	background-color:#FFF;
	border:1px solid #CCC;
	outline:none;
}


/*panel-footer*/
div.m-p-e-s-button{
	background-color:#FFF;
	margin-top:5vh;
	padding-top:2vh;
}


/*button*/
button.m-p-e-s-send-button{
	background-color:#7a93dc;
	color:#FFF;
	border-radius:0;
	padding-left:1vw;
	padding-right:1vw;
}

button.m-p-e-s-send-button:hover,
button.m-p-e-s-send-button:focus{
	background-color:#5071d1;
	color:#FFF;
}

/*================================================================
   						"你的探險"-查看行程單
=================================================================*/
/*=========================
		左側上方表單
=========================*/
div.m-p-explore-travel_form{
	padding-bottom:5vh;
}

div.t-f-left-form-up{
	border:1px solid #CCC;
	padding-bottom:2vh;
}

/*探險時間&日期*/
div.t-f-exploreDateTime{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
}

/*體驗資訊*/
div.t-f-exp-information{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
}

p.m-p-e-t-f-notice{
	margin-top:0.5vh
}
	

/*帳單*/
div.t-f-bill{
	margin-left:1vw;
	margin-right:1vw;
}

div.t-f-bill-total-amount{
	background-color:#CCC;
	height:5vh;
	line-height:5vh;
}

/*=========================
		左側下方表單
=========================*/
div.t-f-left-form-down{
	border:1px solid #000;
	margin-top:4vh;
}

/*=========================
		右側上方資訊
=========================*/
button.btn.btn-lg:active,
button.btn.btn-lg:focus{
	outline:none;
}

div.t-f-right-information{
	border:1px solid #CCC;
	padding-bottom:4vh;
	margin:0;
}

div.t-f-r-s-img{
	text-align:center;
	height:20vh;
	line-height:20vh;
}

div.t-f-r-s-img img{
	width:6vw;
	height:6vw;
	border-radius:50%;
}

div.t-f-contact-share{
	margin-top:3vh;
	text-align:center;
}

div.t-f-contact-share button{
	background-color:#f56d9e;
	color:#FFF;
	border-radius:0;
	width:18vw;
}

div.t-f-contact-share button:hover,
div.t-f-contact-share button:focus{
	border-radius:0;
	background-color:#ef426f;
	color:#FFF;
}

/*右側下方圖*/
div.t-f-right-ExpLink{
	margin-top:4vh;
}

div.t-f-right-ExpLink a img{
	width:100%;
}

div.t-f-right-ExpLink h4{
	position:absolute;
	color:#FFF;
	background-color:rgba(0,0,0,0.3);
	text-align:center;
	width:22.5vw;
	height:10vh;
	line-height:10vh;
	top:63%;
	left:4.5%;
}

/*================================================================
   						"你的探險"-查看行程單-變更中
=================================================================*/
/*狀態*/
span.t-f-green{
	color:#82d8d5;
}

p.t-f-FC-red{
	color:#F00;
}

div.t-f-exploreDateTime i{
	color:#ef426f;
}

/*右側人數變更*/
.t-f-FC-text-red{
	color:#F00;
}


/*=========================
		button、文字總整理
=========================*/
button.btn.btn-default{
	border-radius:0;
}

button.btn.btn-default:active,
button.btn.btn-default:focus{
	outline:none;
}

button.btn.red{
	color:#FFF;
	background-color:#f56d9e;
}

button.btn.red:hover,
button.btn.red:active,
button.btn.red:focus{
	color:#FFF;
	background-color:#ef426f;
}

button.btn.blue{
	color:#FFF;
	background-color:#7a93dc;
}

button.btn.blue:hover,
button.btn.blue:active,
button.btn.blue:focus{
	color:#FFF;
	background-color:#5071d1;
}

a.btn.btn-default{
	border-radius:0;
}

a.btn.btn-default:active,
a.btn.btn-default:focus{
	outline:none;
}

a.btn.red{
	color:#FFF;
	background-color:#f56d9e;
}

a.btn.red:hover,
a.btn.red:active,
a.btn.red:focus{
	color:#FFF;
	background-color:#ef426f;
}

a.btn.blue{
	color:#FFF;
	background-color:#7a93dc;
}

a.btn.blue:hover,
a.btn.blue:active,
a.btn.blue:focus{
	color:#FFF;
	background-color:#5071d1;
}

input.btn.btn-default{
	border-radius:0;
}

a.text-blue{
	color:#7a93dc;
}

a.text-blue:hover,
a.text-blue:active,
a.text-blue:focus{
	color:#5071d1;
}

