 @charset "utf-8";

/*==========================================================================================================================
														會員資料頁面
===========================================================================================================================*/


/*================================
    navbar-bottom-list(nav下方bar)
==================================*/

div.row.NavbarBottom{
	margin-top:8vh;
	background-color:#82d8d5;
	height:6vh;
}

/*==========================================
    navbar-bottom-list(nav下方bar)-不一樣的地方
==============================================*/

div.m-p-change-cancel{
	font-family:"微軟正黑體";
	background-color:#f9f9f9;
	padding-bottom:4vh;
}

a.return-front-page{
	height:6vh;
	line-height:6vh;
	color:#FFF;
}
a.return-front-page:hover,
a.return-front-page:focus{
	color:#FFF;
}

/*=========================
		更改預定
=========================*/
button.btn.btn-default:active,
button.btn.btn-default:focus{
	outline:none;
}


/*更改預定上方*/
div.c-c-change-booking-block{
	background-color:#FFF;
	height:16vh;
	box-shadow: 2px 2px 5px #888888;
}

div.col-md-2.change-icon i{
	color:#7a93dc;
	margin-left:3vw;
	margin-top:3vh;
}

a.c-c-change-booking-link,
a.c-c-change-booking-link:focus{
	color:#000;
}

a.c-c-change-booking-link:hover{
	color:#666;
}

/*更改預定下方*/
div.c-c-change-b-body{
	padding-left:0;
	margin-top:4vh;
	display:none;
}

/*小計.服務費.新總價*/
div.c-b-subtotal,
div.c-b-tip{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
}

div.c-b-newtotal{
	margin-left:1vw;
	margin-right:1vw;
}
	

/*button*/
button.c-c-c-b-giveup{
	margin-right:1vw;
}

button.c-c-c-b-save{
	background-color:#7a93dc;
	color:#FFF;
}

button.c-c-c-b-save:hover,
button.btn.c-c-c-b-save:focus,
button.btn.c-c-c-b-save:active{
	background-color:#5071d1;
	color:#FFF;
}

/*更改預定右側提醒*/
#c-c-change-booking-remind{
	display:none;
}

h3.c-c-change-booking-remind-title{
	margin-left:1vw;
}

div.c-c-cancel-b-icon-wall{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
}

div.c-c-cancel-b-icon-wall div.col-md-10{
	padding:0;
}


div.c-c-cancel-b-icon-wall i{
	color:#5071d1;
}

li.c-c-cancel-b-explain{
	color:#999;
}

/*取消預定上方*/
div.c-c-cancel-booking-block{
	background-color:#FFF;
	height:16vh;
	box-shadow: 2px 2px 5px #888888;
	margin-top:2vh;
}

div.col-md-2.cancel-icon i{
	color:#7a93dc;
	margin-left:3vw;
	margin-top:3vh;
}

a.c-c-cancel-booking-link,
a.c-c-cancel-booking-link:focus{
	color:#000;
}

a.c-c-cancel-booking-link:hover{
	color:#666;
}

/*取消預定下方*/
div.c-c-cancel-b-body{
	background-color:#FFF;
	margin-top:4vh;
	display:none;
}

input.c-c-cancel-b-sumit{
	margin-left:1vw;
	background-color:#7a93dc;
	color:#FFF;
}

input.btn.c-c-cancel-b-reset:active,
input.btn.c-c-cancel-b-reset:focus{
	outline:none;
}

input.c-c-cancel-b-sumit:hover,
input.c-c-cancel-b-sumit:focus,
input.btn.c-c-cancel-b-sumit:active{
	background-color:#5071d1;
	color:#FFF;
	outline:none;
}



