 @charset "utf-8";

/*==========================================================================================================================
														會員資料頁面
===========================================================================================================================*/

/*================================
    navbar-bottom-list(nav下方bar)
==================================*/
div.m-p-sheet{
	font-family:"微軟正黑體";
}


div.row.NavbarBottom{
	margin-top:8vh;
	background-color:#82d8d5;
	height:6vh;
}

span.NavbarBottomListCotent{
	padding:2vh;
	font-size:14px;
	height:6vh;
	line-height:6vh;
}


span.NavbarBottomListCotent a{
	color:#000;
	text-decoration:none;
	border:1px solid #82d8d5;
}

div.col-md-10 span.NavbarBottomListCotent a{
	padding:1vh;
}

span.active.NavbarBottomListCotent a{
	padding-left:0;
}


span.NavbarBottomListCotent a:hover,
span.NavbarBottomListCotent a:focus{
	color:#FFF;
}

span.active.NavbarBottomListCotent a{
	color:#FFF;
}

/*================================================================
   						"帳戶" 正文開始
=================================================================*/

div.container-fluid{
	font-family: "微軟正黑體", "華康粗圓體", "超研澤中鋼筆行楷", "文鼎粗行楷";
}

div.member-profile-account{
	background-color:#f9f9f9;
	padding-bottom:2vw;
	padding-top:8vh;
}
/*button總設置*/

button.btn.btn-default:active,
button.btn.btn-default:focus{
	outline:none;
}

button.Red{
	background-color:#f56d9e;
	color:#FFF;
}

button.Red:hover,
button.btn.Red:active,
button.Red:focus{
	background-color:#ef426f;
	color:#FFF;
}

/*連結總設置*/
a.Red{
	color:#f56d9e;
}

a.Red:hover,
a.Red:focus{
	color:#ef426f;
}




/*帳戶左側 Menu*/

ul.m-p-a-menu li a{
	font-size:20px;
	font-weight:bold;
	height:7vh;
	line-height:7vh;
	text-decoration:none;
	color:#999;
}

ul.m-p-a-menu li a:hover{
	color:#CCC;
}

ul.m-p-a-menu li a:focus{
	color:#000;
}

ul.m-p-a-menu li.active a{
	color:#000;
}


/*==============================================="帳戶"右側內容================================================*/

/*========================
			通知
=========================*/

/*簡訊設定*/
a.m-p-a-c-ChangeNumber{
	color:#f56d9e;
}

a.m-p-a-c-ChangeNumber:hover,
a.m-p-a-c-ChangeNumber:focus{
	color:#ef426f;
}

span.m-p-a-c-PhoneNumber{
	border:1px solid #CCC;
	padding:1vh;
	margin-left:2vw;
}

div.m-p-a-c-SMSsetting-checkbox{
	margin-top:3vh;
}

label.SMS-checkbox-list{
	margin-bottom:0;
}

label.SMS-checkbox-explain{
	color:#999;
	margin-top:0;
	margin-left:1.2vw;
	font-size:12px;
}

label.phone-checkbox-explain{
	color:#999;
	margin-left:1.2vw;
	font-size:12px;
}

/*========================
		 付款方式
=========================*/

div.m-p-a-PayMethod-DefaultCard{
	border:1px solid #CCC;
	width:100%;
	height:28.7vh;
	padding-left:1vw;
}

h4.m-p-a-PayMethod-SettingDefault a{
	color:#f56d9e;
}

h4.m-p-a-PayMethod-SettingDefault a:hover,
h4.m-p-a-PayMethod-SettingDefault a:focus{
	color:#ef426f;
}

h4.m-p-a-PayMethod-SettingDelete{
}

h4.m-p-a-PayMethod-SettingDelete a{
	color:#f56d9e;
}

h4.m-p-a-PayMethod-SettingDelete a:hover,
h4.m-p-a-PayMethod-SettingDelete a:focus{
	color:#ef426f;
	outline:none;
}

a.btn.add-payment-method{
	border:1px solid #CCC;
	border-radius:0;
	height:28.7vh;
	width:100%;
}

a.btn.add-payment-method:focus{
	outline:none;
}

a.btn.add-payment-method p{
	color:#333;
}


span.m-p-a-PS a{
	color:#f56d9e;
}

span.m-p-a-PS a:hover,
span.m-p-a-PS a:focus{
	color:#ef426f;
}

/*彈跳視窗*/
div.m-p-a-PM-ModelHeader{
	background-color:#F0F0F0;
}

button.m-p-a-AddBankCard{
	background-color:#f56d9e;
	color:#FFF;
}

button.m-p-a-AddBankCard:hover,
button.btn.m-p-a-AddBankCard:active,
button.m-p-a-AddBankCard:focus{
	background-color:#ef426f;
	color:#FFF;
}

/*========================
		 收款設定
=========================*/
div.m-p-a-ReceivableSetting-Step1{
	display:none;
}

div.m-p-a-ReceivableSetting-Step2{
	display:none;
}

div.m-p-a-ReceivableSetting-Step3-Paypal{
	display:none;
}

div.m-p-a-ReceivableSetting-Step3-Bank{
	display:none;
}


div.m-p-a-ReceivableSetting-list{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
}

div.m-p-a-ReceivableSetting-content{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
	padding-top:3vh;
	padding-bottom:2vh;
}

div.m-p-a-ReceivableSetting-content:hover{
	background-color:#FDF0B5;
}


li.m-p-a-ReceivableSetting-DefaultAccount{
	color:#FFF;
	background:#f56d9e;
	border-radius:5px;
}

a.m-p-a-ReceivableSetting-DeleteAccount{
	color:#f56d9e;
	text-decoration:none;
}

a.m-p-a-ReceivableSetting-DeleteAccount:hover,
a.m-p-a-ReceivableSetting-DeleteAccount:focus{
	color:#ef426f;
	text-decoration:none;
	outline:none;
}

button.m-p-a-RS-DA-Delete{
	color:#FFF;
	background-color:#f56d9e;
}

button.m-p-a-RS-DA-Delete:hover,
button.btn.m-p-a-RS-DA-Delete:active,
button.m-p-a-RS-DA-Delete:focus{
	color:#FFF;
	background-color:#ef426f;
	outline:none;
}

a.m-p-a-m-p-a-ReceivableSetting-SettingDefault{
	color:#000;
}

a.m-p-a-m-p-a-ReceivableSetting-SettingDefault:hover,
a.m-p-a-m-p-a-ReceivableSetting-SettingDefault:focus,
a.m-p-a-m-p-a-ReceivableSetting-SettingDefault:active{
	color:#000;
}

button.btn.m-p-a-ReceivableSetting-AddAccount{
	color:#FFF;
	background-color:#7a93dc;
	margin-top:3vh;
	margin-left:1vw;
}

button.btn.m-p-a-ReceivableSetting-AddAccount:hover,
button.btn.m-p-a-ReceivableSetting-AddAccount:focus,
button.btn.m-p-a-ReceivableSetting-AddAccount:active{
	color:#FFF;
	background-color:#5071d1;
	outline:none;
}

/*第1步：確認帳戶國別*/
input.m-p-a-RS-Step1-confirm{
	color:#FFF;
	background-color:#f56d9e;
	padding-left:2vw;
	padding-right:2vw;
}

input.m-p-a-RS-Step1-confirm:hover,
input.btn.m-p-a-RS-Step1-confirm:active,
input.m-p-a-RS-Step1-confirm:focus{
	color:#FFF;
	background-color:#ef426f;
	outline:none;
}

a.m-p-a-RS-return-s1{
	color:#f56d9e;
}

a.m-p-a-RS-return-s1:hover,
a.m-p-a-RS-return-s1:focus{
	color:#ef426f;
}



/*第二步: 選擇你的帳戶類型*/
table.m-p-a-RS-S2-table{
	width:100%;
}

tr.m-p-a-RS-S2-tr-list{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
	height:10vh;
}


tr.m-p-a-RS-S2-tr{
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
	height:10vh;
}

tr.m-p-a-RS-S2-tr td input{
	margin-left:1vw;
}

tr.m-p-a-RS-S2-tr:hover{
	background-color:#FDF0B5;
}

tr.m-p-a-RS-S2-tr td label{
	height:10vh;
	line-height:10vh;
	margin-bottom:0;
}

div.col-md-6.return-s2{
	margin-top:5vh;
}

a.m-p-a-RS-return-s2{
	color:#f56d9e;
}

a.m-p-a-RS-return-s2:hover,
a.m-p-a-RS-return-s2:focus{
	color:#ef426f;
}

button.btn.m-p-a-RS-S2-Next{
	color:#FFF;
	background-color:#7a93dc;
	margin-top:3vh;
	margin-left:1vw;
}

button.btn.m-p-a-RS-S2-Next:hover,
button.btn.m-p-a-RS-S2-Next:active,
button.btn.m-p-a-RS-S2-Next:focus{
	color:#FFF;
	background-color:#5071d1;
	outline:none;
}

/*第三步：添加你的Paypal帳戶*/
input.form-control-no-border{
	border:none;
	width:100%;
	border-bottom:1px solid #CCC;
	padding-bottom:1vw;
	margin-top:3vh;
}

input.form-control-no-border:focus{
	outline:none;
}

label.m-p-a-Paypal-setting-default1{
	color:#ef426f;
	font-size:16px;
}

div.col-md-6.return-s3{
	margin-top:1vh;
}

a.m-p-a-RS-return-s3{
	color:#f56d9e;
}

a.m-p-a-RS-return-s3:hover,
a.m-p-a-RS-return-s3:focus{
	color:#ef426f;
}



button.btn.m-p-a-RS-S3-Confirm{
	color:#FFF;
	background-color:#f56d9e;
}

button.btn.m-p-a-RS-S3-Confirm:hover,
button.btn.m-p-a-RS-S3-Confirm:active,
button.btn.m-p-a-RS-S3-Confirm:focus{
	color:#FFF;
	background-color:#ef426f;
	outline:none;
}


/*第三步：添加你的銀行帳戶*/
label.m-p-a-Paypal-setting-default2{
	color:#ef426f;
	font-size:16px;
}


/*========================
		 交易紀錄
=========================*/

/*上方Tab*/

ul.nav.nav-tabs.m-p-a-TH-Tab{
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	border-top:1px solid #CCC;
	background-color:#F8F8F8;
}

ul.nav.nav-tabs.m-p-a-TH-Tab li a{
	border-left:none;
	border-right:none;
	border-top:none;
	background-color:#F8F8F8;
	color:#999;
	margin-left:0.5vw;
}

ul.nav.nav-tabs.m-p-a-TH-Tab li a:hover,
ul.nav.nav-tabs.m-p-a-TH-Tab li a:focus{
	color:#000;
	border-bottom:3px solid #999;
}

ul.nav.nav-tabs.m-p-a-TH-Tab li.active a,
ul.nav.nav-tabs.m-p-a-TH-Tab li.active a:hover,
ul.nav.nav-tabs.m-p-a-TH-Tab li.active a:focus{
	color:#000;
	border-bottom:3px solid #999;
}

div.tab-content.m-p-a-TH-Content{
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	border-bottom:1px solid #CCC;
	background-color:#FFF;
}

/*下方分頁*/
ul.pagination li a{
	margin-right:1vw;
	color:#91dfdf;
}
ul.pagination li a:hover,
ul.pagination li a:focus{
	background-color:#FFF;
}

div.pagination-bar{
	text-align:center;
}



/*===========已完成交易==========*/

#m-p-a-complete{
	padding-bottom:3vh;
}

div.m-p-a-AleadyPay h3{
	margin-left:1vw;
}

div.m-p-a-CompleteDropDown div.form-group{
	margin-left:1vw;
}

/*dropdown寬度設定*/
select.form-control.m-p-a-complete-Mail,
select.form-control.m-p-a-complete-Exp{
	width:11vw;
}

select.form-control.m-p-a-Year{
	width:6vw;
}

select.form-control.m-p-a-Month{
	width:8vw;
}

/*已完成交易 上方List*/
div.m-p-a-CompleteTransactionList{
	margin-top:3vh;
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
}

/*已完成交易 下方內容*/
div.m-p-a-CompleteTransactionContent{
	margin-left:1vw;
	margin-right:1vw;
	margin-top:1vh;
	border-bottom:1px solid #CCC;
}

/*===========未完成交易==========*/

#m-p-a-future{
	padding-bottom:3vh;
}

div.m-p-a-YetPay h3{
	margin-left:1vw;
}

div.m-p-a-YetDropDown div.form-group{
	margin-left:1vw;
}

/*未完成交易 上方List*/
div.m-p-a-YetTransactionList{
	margin-top:3vh;
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
}

/*已完成交易 下方內容*/
div.m-p-a-YetTransactionContent{
	margin-left:1vw;
	margin-right:1vw;
	margin-top:1vh;
	border-bottom:1px solid #CCC;
}

/*===========總收入==============*/
#m-p-a-total{
	padding-bottom:3vh;
	padding-top:3vh;
}

div.m-p-a-TotalDropDown div.form-group{
	margin-left:1vw;
}

/*未完成交易 上方List*/
div.m-p-a-TotalIncomeList{
	margin-top:3vh;
	border-bottom:1px solid #CCC;
	margin-left:1vw;
	margin-right:1vw;
}

/*總收入 下方內容*/
div.m-p-a-TotalIncomeContent{
	margin-left:1vw;
	margin-right:1vw;
	margin-top:1vh;
	border-bottom:1px solid #CCC;
}








