 @charset "utf-8";
/* CSS Document */

/*==============================================================================================================
													navigation bar
=================================================================================================================*/

/*=============navbar共同部分===========*/

body{
	font-family:"華康粗圓體", "微軟正黑體", "超研澤中鋼筆行楷", "文鼎粗行楷";
}

div.fix-navbar-top{
	padding:0px;
}

nav.navbar.navbar-fixed-top{
	background-color:rgba(0,0,0,0.7);
	border:none;
	color:#F00;
	font-family:'華康粗圓體', '微軟正黑體', '超研澤中鋼筆行楷', '文鼎粗行楷';
	padding-left:3%;
	font-size:20px;
	width:100%;

}

div.navbar-left i{
	color:#FFF;
}

div.navbar-header div.form-group input.form-control[type=search]{
	border:none;
	background-color:rgba(0,0,0,0);
	width:50vw;
	padding-left:0px;
	font-size:16px;
	color:#FFF;
}

div.navbar-header div.form-group input.form-control[type=search]:focus{
	border: none;
	box-shadow: none;
}

a.navbar-brand{
	color:#FFF;
}

ul.navbar-right{
	font-size:20px;
	margin-right:5%;
}

/*調整navbar字體置中*/
a.navbar-brand{
	padding-top:3vh;
}
div.navbar-left{
	padding-top:1vh;
}


/*==============navbar登入前==============*/

a.btn.navbar-list{
	height:10vh;
	border-radius:0%;
	padding-top:3vh;
}

li.navbar-list-share{
	border-right:1.5px solid #CCC;
	border-left:1.5px solid #CCC;
}

li.navbar-list-help{
	border-right:1.5px solid #CCC;
	padding-right:1vw;
	padding-left:1vw;
}


li.navbar-list-share:hover .dropdown-menu.navbar-list-content{
	display:block;	
}


a#modal-87912{
	outline:none;
	padding-top:3vh;
}

/*Alert Box for SignIn*/
div.modal-dialog{
	text-align:center;
	font-family:"華康粗圓體", "微軟正黑體", "超研澤中鋼筆行楷";
}

div.modal-body img{
	height:10vh;
}

div.checkbox{
	text-align:center;
}

div.modal-footer button:active{
	outline: none;
	border: none;	
}

/* 快速註冊下拉選單的部分 */
button.signin-button{
	float:left;
}

div.panel-heading-id a{
	float:right;
}

div.panel-body-id{
	margin-top:5vw;
}

/*navbar 右側字體大小*/
ul.navbar-right span{
	font-size:16px;
}
a.nabar-list-img{
	font-size:16px;
}
a#modal-87912{
	font-size:16px;
}


/*================navbar登入後=================*/


/*navbar icon 調整*/
img.navbar-icon-message{
	width:5vh;
	height:5vh;
}

img.navbar-icon-favorites{
	width:5vh;
	height:5vh;
}

img.navbar-icon-experience{
	width:5vh;
	height:5vh;
}

/*登入大頭照*/
img.profile{
	border-radius:50%;
	width:33px;
	height:33px;
	border:1px solid #FFF;
}


/*navbar-list-content*/
span.space{
	padding-right:10vw;
}


/*navbar list by hover*/
li.navbar-list-system-notice:hover .navbar-list-system-notice-content{
	display:block;
}

li.navbar-list-share-trip:hover  .navbar-list-share-trip-content{
	display:block;
}

li.navbar-list-personal-photo:hover .navbar-list-personal-photo-content{
	display:block;
}


/***********************************************************************************************************************
													close for navigation bar
*************************************************************************************************************************/






