 @charset "utf-8";
/* CSS Document */

/*==============================================================================================================
													navigation bar
=================================================================================================================*/

/*=============navbar共同部分===========*/

body{
	font-family: "微軟正黑體", "華康粗圓體", "超研澤中鋼筆行楷", "文鼎粗行楷";
}

div.fix-navbar-top{
	padding:0px;
}

nav.navbar.navbar-fixed-top{
	background-color:rgba(0,0,0,0.9);
	border:none;
	color:#F00;
	font-family: "微軟正黑體", "華康粗圓體", "超研澤中鋼筆行楷", "文鼎粗行楷";
	padding-left:3%;
	font-size:20px;
	width:100%;
	height:8vh;
}

div.navbar-left i{
	color:#FFF;
}

div.navbar-header div.form-group input.form-control[type=search]{
	border:none;
	background-color:rgba(0,0,0,0);
	width:50vw;
	padding-left:0px;
	font-size:16px;
	color:#FFF;
}

div.navbar-header div.form-group input.form-control[type=search]:focus{
	border: none;
	box-shadow: none;
}

a.navbar-brand{
	color:#FFF;
}

ul.navbar-right{
	font-size:14px;
	margin-right:5%;
}
a.btn.navbar-list{
	height:8vh;
	border-radius:0%;
}


/*==============navbar登入前==============*/


a.navbar-list span.be-share{
	border:2px solid #999;
	padding:1vh;
	border-radius:3px;
}

li.navbar-list-share:hover .dropdown-menu.navbar-list-content{
	display:block;	
}


a#modal-87912{
	outline:none;
}

/*Alert Box for SignIn*/
div.modal-dialog{
	text-align:center;
	font-family: "微軟正黑體", "華康粗圓體", "超研澤中鋼筆行楷", "文鼎粗行楷";
}

div.modal-body img{
	height:10vh;
}

div.checkbox{
	text-align:center;
}

div.modal-footer button:active{
	outline: none;
	border: none;	
}

/* 快速註冊下拉選單的部分 */
button.signin-button{
	float:left;
}

div.panel-heading-id a{
	float:right;
}

div.panel-body-id{
	margin-top:5vw;
}

/*navbar 右側字體大小*/
ul.navbar-right span{
	font-size:14px;
}
a.nabar-list-img{
	font-size:14px;
}
a#modal-87912{
	font-size:14px;
}


/*================navbar登入後=================*/


/*navbar字體.大頭照位置調整*/
a.btn.nabar-list{
	padding-top:0;
	line-height:8vh;
	height:8vh;
}

a.btn.nabar-list-img{
	padding-top:0;
	line-height:8vh;
	height:8vh;
}


a.btn.nabar-list-img{
}


	

/*navbar icon 調整*/
img.navbar-icon-message{
	width:4vh;
	height:4vh;
}

img.navbar-icon-favorites{
	width:4vh;
	height:4vh;

}

img.navbar-icon-experience{
	width:4vh;
	height:4vh;

}

/*登入大頭照*/
img.profile{
	border-radius:50%;
	width:4vh;
	height:4vh;
	border:2px solid #CCC;
}


/*navbar-list-content*/
span.space{
	padding-right:10vw;
}


/*navbar list by hover*/
li.navbar-list-system-notice:hover .navbar-list-system-notice-content{
	display:block;
}

li.navbar-list-share-trip:hover  .navbar-list-share-trip-content{
	display:block;
}

li.navbar-list-personal-photo:hover .navbar-list-personal-photo-content{
	display:block;
}


/***********************************************************************************************************************
													close for navigation bar
*************************************************************************************************************************/






